body{
    background-color: rgba(0, 0, 0, 0.86);
    color: white;
}
h1{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 0px;
}
.myname{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    margin: 0px;
}
#verseForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
p{
    text-align: center;
    padding-top: 15px;
}
button{
    margin-top: 10px;
}
.surah, .surahlabel, .ayahlabel{
    margin: 10px;
}